header {
background: #BBBBBB;
padding:20px;
}

nav li {
display: inline;
}

nav a {
text-transform: uppercase;
color: #000000;
font-weight: bold;
font-size: 22px;
text-decoration: none;
nav {
position:absolute;
top : 0;
rigth: 0;
}
nav li {
display: inline;
margin: 0 0 0 15px;
}

.caixa {
widht: 940px;
position:relative;
margin: 0 auto;
}
